.page{
  background-color: white;
  font-family: georgia;
}


.headImage{
  /*width: 800px;*/
}

.upperBorder{
  width: 100%;
  background-color: darkgray;
}

.footer{
  position.fixed;
  left: 0;
  bottom: 0;
  background-color: darkgray;
  color: white;
  text-align: center;
  width: 100%;
}

.leftSide{
  float: left;
  margin-bottom: 50px;
  background-color: peru;
  width: 48%;
  text-align: center;
  margin-left: 11px;
  height: 300px;
}

.rightSide{
  float: right;
  width: 48%;
  margin-bottom: 50px;
  background-color: peru;
  text-align: center;
  margin-right: 11px;
  height: 300px;
}

.entry{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.halfWidth{
  background-color: gray;
  width: 48%;
  text-align: center;
  float: left;
  margin: 10px;
  height: 100px;
}

.casesIn{
  text-align: center;
}

.countryHead{
  text-align:center;
  font-style: georgia;
}

.titleHead{
  font-size: 100px;
}

.titleBody{
  color: peru;
}

.country{
  float: left;
  width: 31%;
  font-style: georgia;
}
